* {
  background-color: bisque;
  font-family: sans-serif;
}

.name {
  color: #361d00;
  font-size: 40px;
}

.age {
  color: #361d00;
  font-size: 30px;
}

.profession {
  color: #361d00;
  font-size: 30px;
}

.photoText {
  color: #361d00;
  display: inline;
  vertical-align: top;
}

.photo {
  display: inline;
  heigth: 200px;
  width: 200px;
}
